/* estilo corpo pagina formacao */
body {
  background-image: url("../img/background_formacao.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

/* estilo h1 desta pagina */
h1 {
  text-align: center;
  margin-top: 20px;
}

/* estilo seção formacao */
#formacao {
  padding: 20px;
}

/* estilo conteiner */
.container {
  max-width: 800px; /* largura do contêiner */
  margin: 0 auto; /* centralizando contêiner */
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* fundo escuro semi-transparente */
  border-radius: 10px;
}

/* estilo  itens */
.formacao-item {
  margin-bottom: 20px;
}

/* estilo  parágrafos dentro dos itens de formação*/
.formacao-item p {
  font-size: 1.2rem;
  line-height: 1.6;
}
