body {
  font-family: "Orbitron", sans-serif;
  background-image: url("../img/background_contato2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  color: white;
}

h1 {
  text-align: left;
  margin-left: 100px;
  margin-top: 20px;
}

#contato {
  padding: 20px;
}

.container {
  min-width: 550px;
  margin: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: absolute;
  left: 40px;
  top: 300px;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

form input,
form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #39ff14;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

form button:hover {
  background-color: #32c72f;
}

.links {
  text-align: left;
  margin-top: 20px;
}

.links a {
  color: #39ff14;
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 20px;
}

.links a:hover {
  text-decoration: underline;
}

.success-message {
  color: #39ff14;
  margin-top: 20px;
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  form input,
  form textarea {
    font-size: 0.9rem;
  }

  form label {
    font-size: 1rem;
  }

  form button {
    font-size: 1rem;
    padding: 8px;
  }

  .links {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .container {
    min-width: 90%; /* Ajusta a largura para ocupar a maior parte da tela */
    padding: 5px;
    top: 350px; /* Ajusta a posição do topo */
    left: 5%;
  }

  form input,
  form textarea {
    font-size: 0.8rem;
  }

  form button {
    font-size: 0.9rem;
    padding: 7px;
  }

  .links a {
    font-size: 1rem;
    margin-right: 10px;
  }
}
