/* estilo corpo pagina sobremim */
body {
  background-image: url("../img/backgroud_sobremim.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}


/* estilo seção sobre mim */
#sobre-mim {
  padding: 20px;
}
/* estilo conteiner */
.container {
  max-width: 800px; /* largura do contêiner */
  margin: 0 auto; /* centralizando contêiner */
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* fundo escuro semi-transparente */
  border-radius: 10px;
}

/* estilo paragrafo  */
p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center; /* centralizando texto no contêiner */
}
